<%= flash[:error] if flash[:error] %>
<%= flash[:message] if flash[:message] %>
<br>
<br>
<br>
<br>
<h5>Our Products</h5>
<% @products.each do |product| %>
  <div class="card">
    <!-- product body -->
    <div class="card-body" id="body-<%=product.id%>">
      <strong class="card-title"><%= product.name %></strong>
      <br>
      <p class="card-text" id="description-<%= product.id %>">
        <%= product.description.truncate(50) if product.description %></p>
      <a href="#" class="btn btn-primary more-details"
      id="details-<%=product.id%>" data-id="<%= product.id %>">
        More Details</a>
      <!-- add to cart form -->
      <form id="form-<%= product.id %>" data-productid="<%= product.id %>">
        <br>
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Quantity</label>
            <select class="custom-select mr-sm-2"
            id="inlineFormCustomSelect">
              <option selected>Units</option>
              <%= options_for_select((1..product.inventory).to_a) %>
            </select>
          </div>
          <div class="col-auto my-1">
            <button type="submit">Add to Cart</button>
          </div>
        </div>
      </form>
    </div>
  </div>
<% end %>
<strong>Contact Us</strong>
