<%= flash[:error] if flash[:error] %>
<%= flash[:message] if flash[:message] %>
<h5>Our Products</h5>
<% @products.each do |product| %>
  <div class="card">
    <div class="card-body" id="body-<%=product.id%>">
      <strong class="card-title"><%= product.name %></strong>
      <br>
      <p class="card-text" id="description-<%= product.id %>">
        <%= product.description.truncate(50) if product.description %></p>
      <a href="#" class="btn btn-primary more-details"
      id="details-<%=product.id%>" data-id="<%= product.id %>">
        More Details</a>
      <form>
        <br>
        <select class="custom-select">
          <option selected>Units</option>
          <%= options_for_select((1..product.inventory).to_a) %>
        </select>
        <button type="submit">Add to Cart</button>
      </form>
    </div>
  </div>
<% end %>
<strong>Contact Us</strong>
