<%= flash[:error] if flash[:error] %>
<%= flash[:message] if flash[:message] %>
<h5>Our Products</h5>
<button class="btn btn-primary more-details" id="sort-products">Sort Products</button>
<% @products.each do |product| %>
  <div class="card">
    <!-- product body -->
    <div class="card-body" id="body-<%=product.id%>">
      <strong class="card-title"><%= product.name %></strong>
      <br>
      <div id="details-body-<%= product.id %>">
        <p class="card-text" id="description-<%= product.id %>">
          <%= product.description.truncate(50) if product.description %></p>
        <a href="#" class="btn btn-primary more-details"
        id="details-button-<%=product.id%>" data-id="<%= product.id %>">
          More Details</a>
      </div>
      <!-- add to cart form -->
      <form id="form-<%= product.id %>" data-productid="<%= product.id %>">
        <br>
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Quantity</label>
            <select class="custom-select mr-sm-2"
            id="inlineFormCustomSelect">
              <option selected>Units</option>
              <%= options_for_select((1..product.inventory).to_a) %>
            </select>
          </div>
          <div class="col-auto my-1">
            <button type="submit">Add to Cart</button>
          </div>
        </div>
      </form>
    </div>
  </div>
<% end %>
<script id="product-detail-template" type="text/x-handlebars-template">
  <p class="card-text" id="description-{{productID}}">{{description}}</p>
  <small class="card-text avail">{{availability}}</small>
  <p class="card-text price">Price: ${{price}}</p>
</script>
