<%= flash[:message] if flash[:message] %>
<%= javascript_include_tag 'users' %>
<div class="jumbotron" data-userid = "<%= session[:user_id] %>">
  <h3 class="display-4"><%= @user.name %>'s Account</h3>
  <label class="lead">Your Account Information: </label>
  <br>
  <label>Email: </label>
  <p><%= @user.email %></p>
  <button type="button" class="btn btn-outline-info" id="edit-email">Edit</button>
  <form class="form-inline" id="email-form">
  </form>
  <br>
  <% if @user.phone_number %>
    <label>Phone: </label><br>
    <p><%= @user.phone_number %></p>
    <button type="button" class="btn btn-outline-info" id="edit-phone">Edit</button>
    <br>
  <% else %>
    <button type="button" class="btn btn-outline-info" id="add-phone">Add phone number</button>
    <br>
  <% end %>
  <form class="form-inline" id="phone-form">
  </form>
  <hr class="my-4">
  <% if @user.admin %>
    <%= link_to "Manage Orders", orders_path %>
    <%= link_to "Manage Products", products_path %>
  <% elsif @user.orders %>
    <label class="lead">Your Orders: </label>
    <ul class="list-group">
      <% @user.orders.each do |order| %>
        <li class="list-group-item">Order <%= link_to order.id, user_order_path(@user, order) %>, <%= created_at order %> </li>
      <% end %>
    </ul>
  <% end %>
  <hr class="my-4">
  <button type="button" class="btn btn-danger" id="delete-account"
  data-userid = "<%= @user.id %>">Delete Account</button>
</div>

<script id="form-template" type="text/x-handlebars-template">
  <label>{{label}}</label>
  <input type="text" id="{{input}}">
  <input type="submit">
</script>
