<% if @user.orders %>
  <ul>
    <% @user.orders.each do |order| %>
      <li>Order # <%= link_to order.id, order_path(order) %>, <%= created_at order %> </li>
    <% end %>
  </ul>
<% end %>

<%= link_to "Edit Account", edit_user_path(@user) %>
<%= form_for @user, method: "delete" do |f| %>
  <%= f.submit "Delete Account" %>
<% end %>
