<%= form_for @order do |f| %>
  <%= f.hidden_field :user_id %>
  Please select products and quantities:
   <% @products.each do |product| %>
    <br>
    <%= f.label product.name %>
    <input type="checkbox" name="<%= product.name %>" value="<%= product.name %>">
    <select>
      <% [1..product.inventory].each do |count, index| %>
        <option><%= count %></option>
      <% end %>
    </select>
    <% end %>
  <%= f.submit "Create Order" %>
<% end %>
