<h1>Order <%= @order.id %></h1>
<ul>
  <% @order.products.each do |product| %>
    <li><%= product.name %> * <%= product_count(product) %> </li>
  <% end %>
</ul>
<strong><%= @order.total_price %></strong>

<% if !admin_user %>
  <%= link_to edit_user_order_path(@order.user, @order) %>
  <%= form_for @order, method: 'delete' do |f| %>
    <%= f.hidden_value :id, @order.id %>
    <%= f.submit "Delete Order" %>
  <% end %>
<% end %>
