<h3>Order <%= @order.id %></h3>
<table class="table table-striped">
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price Per Unit</th>
    <th>Fulfill Status</th>
  </tr>
  <% @products.each do |product| %>
    <tr id="table-data">
      <td><%= link_to product.name, product_path(product) %></td>
      <td><%= @order.item_product_count(product) %> </td>
      <td>$<%= product.price %></td>
    </tr>
  <% end %>
</table>
<br>
<strong>Total Price: $<%= @order.total_price %></strong>
<br>
<button type="button" class="btn btn-outline-primary" id="next-order-button"
data-orderid="<%= @order.id %>" data-userid="<%= session[:user_id]%>">Next Order</button>
<%= link_to "Edit Order", edit_user_order_path(@order.user, @order), class: "btn btn-outline-primary" %>
<%= form_for @order, method: 'delete' do |f| %>
  <%= f.hidden_field :id %>
  <%= f.submit "Delete Order" %>
<% end %>


<% if admin_user && !@order.fulfilled_status%>
  <%= form_for @order, url: "/orders/#{@order.id}/fulfilled", method: "post" do |f|%>
    <%= f.submit "Fulfill Order" %>
  <% end %>
<% end %>

<script id="order-table-template" type="text/x-handlebars-template">
  <td><a href="/products/{{productID}}">{{productName}}</a></td>
  <td><{{orderProductCount}}</td>
  <td><{{productPrice}}</td>
</script>
