<h1>Order <%= @order.id %></h1>
<table>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price Per Unit</th>
  </tr>
    <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.name, product_path(product) %></td>
      <td><%= @order.item_product_count(product) %> </td>
      <td>$<%= product.price %></td>
    </tr>
    <% end %>
</table>
<br>
<strong>Total Price: $<%= @order.total_price %></strong>

<% if admin_user %>
  <%= form_for @order, url: url_for(controller: 'orders', action: 'fulfill_order') do |f|%>
    <%= f.hidden_field :id %>
    <%= f.submit "Fulfill Order" %>
  <% end %>
  <%= link_to "Edit Order", edit_user_order_path(@order.user, @order) %>
  <%= form_for @order, method: 'delete' do |f| %>
    <%= f.hidden_field :id %>
    <%= f.submit "Delete Order" %>
  <% end %>
<% end %>
