<h1><%= @product.name %></h1>
<strong>Price per unit: </strong>
<strong>$<%= @product.price %></strong><br>
<strong>Description: </strong><br>
<textarea rows="3" cols=70% ><%= @product.description %></textarea>

<% if current_user && admin_user %>
  <strong><%= @product.inventory %></strong>
  <label>Edit Product Details: </label>
  <%= form_for @product, method: "patch" do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
  <% end %>
  <label>Delete Product: </label>
  <%= form_for @product, method: "delete" do |f| %>
    <%= f.hidden_field :id %>
    <%= f.submit "Delete Product" %>
  <% end %>
<% end %>
