<!DOCTYPE html>
<html>
  <head>
    <title>OnlineShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <span class="navbar-brand">Jack's Online Store</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">
          Home <span class="sr-only">(current)</span></a>
          <% if current_user %>
            <a class="nav-item nav-link" href="<%= user_path(current_user) %>">
              My Account</a>
            <a class="nav-item nav-link" href="<%= user_orders_path(current_user) %>">
            My Orders</a>
            <a class="nav-item nav-link" href="<%= new_user_order_path(current_user) %>">
              New Order</a>
            <p class="nav-item nav-link">
              <%= link_to "Log Out", '/logout', method: :delete %></p>
            <span class="navbar-text">
              <button id="my-cart" data-userid="<%= session[:user_id] %>"
                data-cartid="<%= current_user.cart.id if current_user.cart %>"
                data-toggle="modal" data-target="#cartModalCenter">
                My Cart</button>
            </span>
          <% else %>
            <a class="nav-item nav-link" href="<%= new_user_path %>">
              Register an Account</a>
            <a class="nav-item nav-link" href="<%= login_path %>">
              Log In</a>
            <span class="navbar-text">
              <button id="my-cart" data-userid="" data-cartid="" class="btn btn-primary btn-sm"
              data-toggle="modal" data-target="#cartModalCenter">
                My Cart</button>
            </span>
          <% end %>
        </div>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <!-- Modal -->
    <div class="modal fade" id="cartModalCenter" tabindex="-1" role="dialog" aria-labelledby="cartModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cartModalCenterTitle">Your Cart</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="placeOrder">Place Order</button>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
