<!DOCTYPE html>
<html>
  <head>
    <title>OnlineShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <strong> Welcome <%= current_user.name %>! </strong>
      <strong> <%= link_to "See our products", products_path %> </strong>
      <% if !current_user.admin %>
        <strong> <%= link_to "Place a new order", new_order_path %> </strong>
        <strong> <%= link_to "My Account", user_path(current_user) %></strong>
      <% else %>
        <strong> <%= link_to "My Admin Account", admin_user(current_user) %></strong>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
